html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
}

#terminally-terminal {
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 70vw;
	height: 70vh;
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#terminally-terminal p {
	color: white;
	font-family: monospace;
	font-size: 2vh;
}

#terminally-terminal .terminal-prompt {
	color: green;
}